<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.xiaofabo.hca.epainfocollector.mapper.VTBMapper">

  <insert id="batchInsertUrl" parameterType="java.util.List">
    insert into
    tb_crawl_url (start_url,title, url,post_time)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.startUrl},#{item.title},#{item.url},#{item.postTime})
    </foreach>
    ON DUPLICATE KEY UPDATE
    title = values(title),
    post_time = values(post_time)
  </insert>

  <insert id="batchInsertContent" parameterType="java.util.List">
    insert into
    tb_crawl_content (start_url,title, body_content)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.startUrl},#{item.title},#{item.bodyContent})
    </foreach>
    ON DUPLICATE KEY UPDATE
    title = values(title),
    body_content = values(body_content)
  </insert>

  <select id="urlList" parameterType="cn.com.xiaofabo.hca.epainfocollector.entity.req.CrawlUrlReq"
          resultType="cn.com.xiaofabo.hca.epainfocollector.entity.resp.CrawlUrlResp">
    select
      r.channel channel,
      u.id id,
      u.start_url startUrl,
      u.post_time postTime,
      u.title title,
      u.url url
    from tb_crawl_url u
    left join tb_crawl_rule r on u.start_url = r.start_url
    where 1=1
    <if test="crawlUrlReq != null">
      <if test="crawlUrlReq.channel != null and crawlUrlReq.channel != ''">
        and channel = #{crawlUrlReq.channel}
      </if>
      <if test="crawlUrlReq.postTime != null and crawlUrlReq.postTime != ''">
        and postTime = #{crawlUrlReq.postTime}
      </if>
      <if test="crawlUrlReq.title != null and crawlUrlReq.title != ''">
        and title like concat('%',#{crawlUrlReq.title},'%')
      </if>
    </if>
    order by u.post_time desc
  </select>

  <select id="countCollect" resultType="java.lang.Integer">
    select
      count(1)
    from tb_crawl_content u
    where 1=1
    <if test="startTime != null and startTime != ''">
        <![CDATA[
          and create_time >= #{startTime} and create_time <= NOW()
        ]]>
    </if>
  </select>

  <insert id="batchInsertFile" parameterType="java.util.List">
    insert into
    tb_crawl_file (start_url,file_name, file_md5, file_url)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.startUrl},#{item.fileName},#{item.fileMd5},#{item.fileUrl})
    </foreach>
    ON DUPLICATE KEY UPDATE
    file_name = values(file_name),
    file_md5 = values(file_md5),
    file_url = values(file_url)
  </insert>

  <select id="selectExpireFile" resultType="cn.com.xiaofabo.hca.epainfocollector.entity.TbCrawlFile">
    select
      f.id id,
      f.start_url startUrl,
      f.file_name fileName,
      f.file_md5 fileMd5,
      f.file_url fileUrl
    from tb_crawl_file f
    where DATEDIFF(NOW(),f.create_time) >= #{expireDay}
  </select>

  <delete id="deleteExpireUrl">
    delete
    from tb_crawl_url
    where DATEDIFF(NOW(),create_time) >= #{expireDay}
  </delete>

  <delete id="deleteExpireContent">
    delete
    from tb_crawl_content
    where DATEDIFF(NOW(),create_time) >= #{expireDay}
  </delete>

  <delete id="deleteExpireFile">
    delete
    from tb_crawl_file
    where DATEDIFF(NOW(),create_time) >= #{expireDay}
  </delete>

  <select id="queryFileByUrl" resultType="cn.com.xiaofabo.hca.epainfocollector.entity.TbCrawlFile">
    select
      f.id id,
      f.start_url startUrl,
      f.file_name fileName,
      f.file_md5 fileMd5,
      f.file_url fileUrl
    from tb_crawl_file f
    where f.file_url like concat('%',#{fileUrl})
    limit 1
  </select>

</mapper>